#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5vw;
}

div + hr {
  color: white;
  width: 80vw;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.scoreboard > div {
  padding: 0 2rem;
  font-size: 1.5vw;
}

.table {
  width: 90%;
  min-height: 70vh;
  margin: 0 auto;
  padding: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
